.wrapper {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(57, 63, 86);
  z-index: 3;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(97, 184, 179, 0.1);
    background: rgb(95, 101, 122);
  }
  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(87, 175, 187, 0.1);
    border-radius: 10px;
    background: rgb(39, 42, 55);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;

    &:hover {
      background-color: #a8a8a8;
    }

    &:active {
      background-color: #787878;
    }
  }
}

.emojiContent {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 10px;
  .emojiItem {
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: rgb(50, 54, 68);
    }
    & img {
      width: 35px;
      height: 35px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
