& {
  /* padding: 20px 0; */
  width: 100%;
}

.left-content {
  float: left;
  .des {
    float: left;
    max-width: 150px;
    padding: 20px;
    border-radius: 20px 20px 20px 5px;
    background-color: rgb(56, 60, 75);
    color: #fff;
  }
  .des:hover {
    background-color: rgb(26, 27, 34);
  }
}
.right-content {
  float: right;
  .des {
    float: right;
    max-width: 150px;
    padding: 20px;
    border-radius: 20px 20px 5px 20px;
    background-color: rgb(29, 144, 245);
    color: #fff;
  }
  .des:hover {
    background-color: rgb(26, 129, 219);
  }
}
.des {
  margin-bottom: 7px;
}
.main-detail {
  display: flex;
  align-items: center;
  .name {
    margin: 0 5px;
  }
  .name,
  .time {
    color: white;
  }
}
.top {
  position: relative;
  .my-img {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  > img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }
}
.clearfix::after {
  display: block;
  height: 0;
  content: "";
  clear: both;
  overflow: hidden;
}
